@import 'lib/base';

section.container {
  header {
    #logo {
      position: relative;
      left: 50%;
      @include transform(translateX(-50%));

      display: inline-block;
      margin: 0 auto;

      outline: none;
      @include user-select(none);

      span {
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -60%));

        font-size: 1.6rem;
        font-weight: 900;

        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 2px white;
      }
    }

    nav {
      .nav-wrapper {
        display: inline-block;
      }
    }
  }

  main {
    margin-top: 3rem;

    .like {
      cursor: pointer;
      @include user-select(none);

      &:hover {
        text-decoration: underline;
      }
    }

    #home {
      .image-post {
        display: inline-block;
        position: relative;

        .overlay,
        .image {
          @include size(400px);
          border-radius: 4px;
        }

        .overlay {
          position: absolute;
          top: 0;
          left: 0;

          padding: 3px 18px;
          overflow-y: hidden;

          cursor: pointer;
          @include user-select(none);
          color: white;
          opacity: 0;
          background-color: hsla(0, 100%, 0%, 0.6);

          transition: opacity 0.2s linear;

          &:hover {
            opacity: 1;
          }

          * {
            color: inherit;
          }

          h5 {
            text-decoration: underline;
          }

          .liked {
            display: inline-block;
            opacity: 0;

            position: absolute;
            top: 40%;
            left: 50%;
            @include transform(translate(-50%, -50%));

            text-align: center;

            transition: top 0.2s linear,
                        opacity 0.2s linear;

            .material-icons {
              font-size: 4.2rem;
            }

            &.active {
              opacity: 1;
              top: 50%;
            }
          }
        }

        .image {
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
        }
      }
    }

    #single-image {
      padding: 0 12px;

      #image {
        height: 500px;

        background-position: center center;
        background-size: contain;

        border-radius: 4px;
      }
    }
  }
}
